/* 
 * General
 */

.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-container .errormessage {
  background-color: rgba(255, 255, 255, 0.0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.error-container .errormessage .col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: center;
  flex: 1;
}

.error-container .errormessage div {
  display: inline-block;
}

.error-container .errormessage .cta {
  text-align: right;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  margin-top: 20px;
}

.error-container .errormessage .cta .retry {
  background-color: #FF2D55;
  height: 29px;
  width: 102px;
  background-color: rgb(255, 45, 85);
  background-size: auto;
  border-bottom-color: rgb(255, 255, 255);
  border-radius: 6px;
  border-style: none;
  border-width: 0px;
  border-color: rgb(255, 255, 255);
  box-shadow: rgba(34, 36, 38, 0.15) 0px 0px 0px 0px inset;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  font-stretch: 125%;
  font-weight: 600;
  height: 44px;
  letter-spacing: normal;
  line-height: 18px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  min-height: 13px;
  min-width: 128px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  outline-width: 0px;
  overflow-x: visible;
  overflow-y: visible;
  text-transform: uppercase;
  text-align: center;
  text-rendering: auto;
  text-size-adjust: 100%;
  user-select: none;
  visibility: visible;
  width: 128px;
  will-change: auto;
  word-spacing: 0px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.error-container .errormessage .error {
  background-color: rgba(255, 255, 255, 0.0);
  opacity: .1;
  font-family: '-apple-system', Helvetica, Arial, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 180.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: right;
  letter-spacing: 2.0px;
  line-height: 92.0px;
}

.error-container .errormessage .communicationslink {
  background-color: rgba(255, 255, 255, 0.0);
  font-family: '-apple-system', Helvetica, Arial, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: right;
  letter-spacing: 1.1px;
  line-height: 25.0px;
  margin-bottom: 25px;
}

.error-container .errormessage .givesomedetailof {
  background-color: rgba(255, 255, 255, 0.0);
  font-family: 'SFUIText-Regular', Helvetica, Arial, serif;
  font-size: 18.0px;
  color: rgba(255, 255, 255, 1.0);
  text-align: right;
  letter-spacing: -.16px;
  line-height: 22.0px;
}

.error-container .errormessage .givesomedetailof a {
  color: rgba(255, 255, 255, 1.0);
  text-decoration: none;
  font-weight: 800;
}

.error-container .errormessage .givesomedetailof a:visited {
  color: rgba(255, 255, 255, 1.0);
}

/**
 * Comms
 */

#error-comms.error-container .errormessage {
  width: 800px;
}

#error-comms.error-container .errormessage .col.errorimage {
  max-width: 212px;
  padding-bottom: 90px;
}

#error-comms.errormessage .errortext {
  padding-right: 30px;
}

#error-comms.errormessage .errorimage img {
  width: 212px;
  height: 388px;
}